{{#if isEditing}}
  {{#if (in-arr textFields field)}}
    <input 
        type={{field}}
        value={{value}}
        class="ember-inline-edit-input"
        oninput={{action "setValue" value="target.value"}} />

  {{else if (in-arr textAreaFields field)}}
    <textarea 
      value={{value}}
      class="ember-inline-edit-input"
      oninput={{action "setValue" value="target.value"}}>
    </textarea>
  {{/if}}

  <button {{action "save"}}
          class="ember-inline-edit-save">
    Save
  </button>
{{else}}
  {{#if valueIsEmpty}}
    <div class="gray-text"> 
      {{placeholder}}
    </div>
  {{else}}
    {{value}} 
  {{/if}}
{{/if}}
