{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if (in-arr this.textFields this.field)}}
    <input
      type={{this.field}}
      value={{this.value}}
      class="ember-inline-edit-input {{this.editorClass}}"
      oninput={{action this.attrs.on-update value="target.value"}}
      style={{this.fieldWidth}} />
  {{else if (in-arr this.textAreaFields this.field)}}
    <textarea
      value={{this.value}}
      class="ember-inline-edit-input {{this.editorClass}}"
      oninput={{action this.attrs.on-update value="target.value"}}>
    </textarea>
  {{/if}}
{{/if}}

<div class="ember-inline-button-container {{this.buttonContainerClass}}">
  {{#if this.showSaveButton}}
    <button
      {{action this.attrs.on-save bubbles=false}}
      class="ember-inline-edit-save {{this.saveButtonClass}}">
      {{this.saveLabel}}
    </button>
  {{/if}}

  {{#if this.showCancelButton}}
    <button
      {{action this.attrs.on-cancel bubbles=false}}
      class="ember-inline-edit-cancel {{this.cancelButtonClass}}">
      {{this.cancelLabel}}
    </button>
  {{/if}}
</div>

{{#if this.hintLabel}}
  <span class="hint">{{{this.hintLabel}}}</span>
{{/if}}
