{{#if (has-block)}}
  {{yield}}
{{else}}
  {{#if this.valueIsEmpty}}
    <span class="gray-text">
      {{this.placeholder}}
    </span>
  {{else}}
    {{this.value}}
  {{/if}}

  {{#if this.showEditButton}}
    <span onclick={{action this.attrs.on-edit}} class="ember-inline-edit-toggle-btn {{this.editButtonClass}}">
      {{this.editLabel}}
    </span>
  {{/if}}
{{/if}}
