<div>
  <div>Basic Usage</div>
  {{ember-inline-edit value=value field="textarea"}}
</div>
<br /><br />

<div>
  <div>Edit Button</div>
  {{ember-inline-edit value=value showEditButton=true}}
</div>
<br /><br />

<div>
  <div>Enabled/Disabled</div>
  <button {{action 'enable'}}>{{enabled}}</button>
  <br /><br />
  {{ember-inline-edit value=value enabled=enabled}}
</div>
<br /><br />

<div>
  Block Usage
  {{#ember-inline-edit value=value as |inline-edit|}}
    {{#inline-edit.editable}}
      <h3>ABCD</h3>
    {{/inline-edit.editable}}

    {{#inline-edit.editor field="textarea"}}
      <select id="" name="">
        <option value=""></option>
      </select>
    {{/inline-edit.editor}}
  {{/ember-inline-edit}}
</div>
